<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Редактирование анекдота</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Редактирование рейтинга</h1>
    <div th:each="el: ${anekdots}">
        <form method="post">
            <input type="text" th:value="${el.rating}" name="newRating" placeholder="Введите рейтинг"
                   class="form-control"><br>
            <button type="submit" class="btn btn-success">Обновить</button>
        </form>
    </div>

</div>


</body>
</html>