<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Анекдоты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1>Анекдоты</h1>
    <div th:each="el: ${anekdots}" class="alert alert-info mt-2">
        <!--        <h3 th:text="${el}"></h3>-->
        <p th:text="${el.getText()}"></p>
        <p th:text="${el.getRating()}"></p>
        <a th:href="'/anekdots/edit/' + ${el.getRating()} + ${el.getText()}" class="btn btn-warning">Редактировать</a>
    </div>
</div>

</body>
</html>